<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleIdentifier</key>
	<string>com.lede.NSIP.fego-rn-update</string>
	<key>CFBundleName</key>
	<string>fego-rn-update Documentation</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	
	
	
	<key>DocSetFallbackURL</key>
	<string>http://fe.hhtcex.com/NSIP</string>
	<key>DocSetFeedName</key>
	<string>fego-rn-update Documentation</string>
	<key>DocSetFeedURL</key>
	<string>http://fe.hhtcex.com/NSIP/NSIP.atom</string>
	<key>DocSetMinimumXcodeVersion</key>
	<string>3.0</string>
	<key>DocSetPlatformFamily</key>
	<string>iphoneos</string>
	<key>DashDocSetFamily</key>
	<string>appledoc</string>
	<key>DocSetPublisherIdentifier</key>
	<string>com.lede.NSIP.documentation</string>
	<key>DocSetPublisherName</key>
	<string>NSIP</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2018 NSIP. All rights reserved.</string>
</dict>
</plist>
